<%- include _header %>
    <h3 class="title has-text-grey">Login</h3>
    <p class="subtitle has-text-grey">Please login to proceed.</p>
    <div class="box">
        <figure class="avatar">
            <img src="https://placehold.it/128x128">
        </figure>
        <form method="post">
            <% if (typeof error!='undefined') { %>
                <article class="message is-danger is-small">
                    <div class="message-body"><%=error%></div>
                </article>
            <% } %>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="email" name="email" placeholder="Your Email" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <input class="input is-large" type="password" name="password" placeholder="Your Password">
                </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login</button>
        </form>
    </div>
    <p class="has-text-grey">
        <a href="/register">Sign Up</a>
    </p>
<%- include _footer %>
